

.cont_gen_hist_result_void{
    width:95%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction:column;
    overflow-y:hidden;
}




.cont_header_hist_result_void{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.cont_header_hist_result_void input{
    width: 40%;
    height: 2.5rem;
    border:none;
    background-color:rgb(235, 235, 235);
    border-radius:1rem;
    color:black;
    font-weight:bolder;
    font-size:18px;
}

.cont_name_hist_result_void{
    display: flex;
    flex-wrap: wrap;
}

.cont_princ_hist_result_void{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 8rem;

}

.perfil_hist_result_void{
    width: 80px;
}

.port_hist_result_void{
    border-radius: 1rem;
}

.cont_princ_hist_result_void p{
    font-size: 22px;
}