
.cont_principal-ck{
    background-image: url('../img/6.background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    overflow-y: hidden;
}


.cont_main-ck{
    display:flex;
    flex-direction: row;
    width: 88%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    gap: 3rem;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 150px);
    
}

.cont_datos-orden-ck{
    background-color: #f8f6f6;
    width: 28rem;
    border-radius: 2rem;
    height: 350px;
    
    



}

.cont_datos-orden-ck h2{
    text-align: center;
    font-size: 30px;
}

.cont_datos-orden-ck p{
    margin-left: 1rem;
    font-size: 20px;
    text-align: left;
    
}

.dni_a-ck{
    font-size: 20px;
    margin-right: auto;
    margin-left: 1rem;
}

.password_a-ck{
    font-size: 20px;

}

.cont_datos-orden-ck input{
    margin-right: 5rem;
}

.cont_datos-conf-ck{
    
    width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
   
}

.cont_cant_lib-ck{
    background-color: #f8f6f6;
    border-radius: 2rem;
    display: inline-flex;
    gap: 20px;
    height: 12rem;
    width: 100%;
   

}

.cont_cant_lib-ck img{
    height: 120px;
    width: 90px;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.descrip-ck{
    font-size: 20px;
    margin-top: 2rem;
    line-height: 10px;


}

.conf_button-ck{
    background-color: brown;
    font-size: 20px;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.desc_aviso-ck{
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 5px;
    
}





   

