

body{
    background-color: red;
    font-family: Open_Sauce;
}



.cont_principal_carr{
    display: flex;
 
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    flex-wrap: wrap;
    justify-content:space-around;
    height: min-content;
   
}

.cont_lib_carr{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    align-self: flex-start;
    
    
    
}

.cont_sub_lib_carr
{
    display: flex;
    width: 85%;
    flex-direction: row;
    background-color: #e8e4e4;
    border-radius: 10px;
    height: 140px;
    align-items: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bolder;
    

}


.cont_cant_carr{
    width: 28rem;
    display: flex;
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5.5rem;
    gap: 1rem;
    
}

.cont_cant_carr a{
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #b60e25;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cant_lib_carr{
   
    
    background-color: #f8f6f6;
    border-radius: 2rem;
    display: inline-flex;
    gap: 20px;
    height: 12rem;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.cont_sub_lib_carr img{
    height: 110px;
    width: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 1rem;
}


.cant_lib_carr img{
    height: 120px;
    width: 90px;
    border-radius: 10px;
    object-fit: cover;

}